body{
	background-color: #eaf2f8;
}

.birds-container {
	padding: 20px;
  }
  
  .birds-container h1 {
	margin-bottom: 20px;
	font-size: 36px;
  }
  
  .birds-container .bird-card {
	margin-bottom: 50px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #f2f5f7;
  }
  
  .birds-container {
	display: block;
	font-weight: bold;
	font-size: 24px;
  }
  
  .birds-container .bird-card img {
	margin: 10px 0;
	max-width: 100%;
	height: auto;
  }
  
  .birds-container .bird-card p {
	color: #555;
	font-size: 16px;
  }

  .birds-container input {
	margin-bottom: 30px;
	width: 75%;
	height: 25px;
	text-align: center;
  }
  
  #sName{
	margin-top: 5px;
  }

  .species{
	display: inline;
	width: 100px;
  }