body {
  background-color: #eaf2f8;
}

.birds-container {
  padding: 20px;
}

.birds-container h1 {
  margin-bottom: 20px;
  font-size: 36px;
}

.birds-container .bird-card {
  margin-bottom: 50px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #ffe2c2;
  max-width: 100%;
  max-height: auto;
}

.birds-container {
  display: block;
  font-weight: bold;
  font-size: 24px;
}

.birds-container .bird-card img {
  margin: 10px 0;
  max-width: 50%;
  max-height: 300px;
  object-fit: contain;
}

.birds-container .bird-card p {
  color: #555;
  font-size: 16px;
}

.birds-container input {
  margin-bottom: 30px;
  width: 75%;
  height: 25px;
  text-align: center;
}

#sName {
  margin-top: 5px;
}

.species {
  display: inline;
  width: 100px;
}

.navPages-allbirds{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 10px;
  width: 100%;
  background-color: #271600;
  margin-top: 0;
}

#searchBird{
  height:auto;
}